.about-cv__sections {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); /* wrappar automatiskt */
  gap: 3rem 1rem;
  width: 80%;
  align-self: center;
  margin-top: 1rem;
}

.about-cv__section {
}
.about-cv__text-field {
  grid-column: span 2; /* textfältet tar hela raden */
  background-color: #fefefe;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
}

.about-cv__text-field p {
  margin-bottom: 1.5rem;
}

/* .about-cv__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  gap: 0.5rem;
} */

@media (max-width: 500px) {
  .about-cv__sections {
    margin-top: 0rem;
  }
  .about-cv__text-field {
    grid-column: span 1;
  }
}
